button{
    background-color: #04AA6D;
    border-style: dashed;
    color: white;
    padding: 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 20%;
}
h1{
    color: azure;
}
body{
    background-color: black;
}
*{
    font-family: 'Courier New', Courier, monospace;
}